.points-flex-container {
    display: flex;
    width: 100%;
    text-align: center;
    background-color: #358C7F;
  
    & > span {
        width: 50%;
    }

    .effort, .competency {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: white;
    }

    .effort {
        border-right: 1.5px solid rgb(197, 230, 210);
    }

  mat-icon {
        color: #f9c74f;
        margin-right: 15px;
    }
}