.top-left-logo, .info {
  position: absolute;
  top: 1rem;
}

.top-left-logo {
  left: 1rem;
}

.info {
  right: 1rem;
}

mat-grid-list:nth-child(2) {
  padding-bottom: 1rem;
}

h1 {
  font-weight: 600;
  margin-left: 0.5rem;
}

h2.profile {
  position: absolute;
  top: 1rem;
  font-weight: 500;
  margin: 0;
}

.default {
  background: white;
}

.default h2 {
  margin-left: 0.5rem;
}

.default .avatars {
  margin-right: 0.5rem;
}

h3 {
  font-size: 24px;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.5rem;
}

@media (max-width: 521px) {
  .display_name {
    display: none;
  }
}

@media (min-width: 780px) {
  h3 {
    width: 170px;
  }
}
