<div dir="ltr" [class]="headerConfig === 'home' ? 'white-opacity-bg' : 'white-bg'" [ngSwitch]="headerConfig">
    <div class="header-home">

        <div class="header-container">
            <div class="header-user"> 
                <img class="pointer avatar" [src]="getImageUrl()"
                     [routerLink]="['/profile']" alt="avatar">
                <h3 class="display_name">{{user.first_name}}</h3>
            </div>
            <div>
                <div class="profile_stats">
                    <img class="icon" src="assets/icons/honeypot.svg">
                    <h2>
                        {{ user.profile.effort }}
                    </h2>
                </div>
            </div>
            <div>
                <div class="profile_stats">
                    <img class="icon" src="assets/icons/star.svg">
                    <h2>
                        {{ user.profile.total_competency }}
                    </h2>
                </div>
            </div>
            <div class="header-assistant">
                <app-assisstant class="info"></app-assisstant>
            </div>
        </div>
        <div class="header-actions" *ngIf="headerConfig === 'home'">
            <img class="pointer top-left-logo" (click)="logout.emit()" src="assets/icons/switch_off_32.svg">
        </div>
        <div class="header-actions" *ngIf="headerConfig === 'profile'">
            <img class="pointer top-left-logo" [routerLink]="['/home']" [src]="translate.currentLang === 'ara' ?
            'assets/icons/right_arrow_24.svg' : 'assets/icons/left_arrow_24.svg'">
        </div>

    </div>

</div>
