.attachments-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .img-attachment {
        width: 15vw;
        img {
            height: auto;
            width: 100%;
            display:block;
            margin:auto;           
        }
    }
    .audio-attachment {
        text-align: center;
        width: 15vw;
        order: 2;
        button {
            width: 70px;
            height: auto;
            display:block;
            margin:auto;
            @media (max-width: 780px) {
                width: 50px;
                display:block;
                margin:auto;
            }
            
        }
    }
}