.attachments-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .img-attachment {
        width: 15vw;
        img {
            height: auto;
            width: 100%;
            display:block;
            margin:auto;           
        }
    }
    .audio-attachment {
        text-align: center;
        width: 15vw;
        order: 2;

        button {
            width: 40%;
            aspect-ratio: 1/1;
            display: block;
            margin:auto;

            img {
                width: 100%;
                height: auto;
            }
            
        }
    }
}