button {
  border-radius: 6.25rem;
  padding: 0.5rem;
  font-size: clamp(1rem, 3vw, 2.5rem) ;

  &:disabled {
    cursor: default;
    opacity: .5;
  }
  img {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.pull-left {
  left: 1rem;
}
.pull-right {
  right: 1rem;
}
