<app-back-navigation [text]="'topics.backTo' | translate: {page: 'topics.topics' | translate}"
[icons]="icons" [routerLink]="['../../']"
></app-back-navigation>

<div class="light-yellow-bg topic-content" *ngIf="topic">
    <p class="topic-name">{{ topic?.name }}</p>

    <p *ngIf="topic.description">{{ topic.description }}</p>

    <app-attachments [attachments]="topic.attachments"></app-attachments>

    <p *ngIf="topic.allow_skip">{{ 'topics.skipQuestions' | translate }}</p>
    <p *ngIf="!topic.allow_skip">{{ 'topics.noSkipQuestions' | translate }}</p>


    <p *ngIf="!topic || !topic.questions || !topic.questions.length ">{{ "topics.noTopicsInAssessment" | translate }}</p>
    <app-primary-btn *ngIf="topic && topic.questions && topic.questions.length"
                     [routerLink]="['./questions', topic.questions[0].id]" (click)="startTopic()"
                     [text]=" 'topics.start' | translate "
                     [iconUrl]="translate.currentLang === 'ara' ?
                    'assets/icons/left_arrow_24.svg' : 'assets/icons/right_arrow_24.svg'"
                    class="start-button"
    ></app-primary-btn>
</div>
