<mat-card>
    <mat-card-content>
        <div [className]="displayCorrectAnswer.getValue() && answer.value !== question.valid_answer ? 'incorrect-answer' : ''">
            <mat-form-field>
                <input [readonly]="displayCorrectAnswer.getValue()" matInput type="text"
                       [placeholder]="displayCorrectAnswer.getValue() ? '' : 'Type here...'" [formControl]="valueForm"/>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="displayCorrectAnswer.getValue()">
        <div class="correct-answer">
            {{ 'topics.question.correctAnswer' | translate }} {{question.valid_answer}}
        </div>
    </mat-card-actions>

</mat-card>
