<mat-card>
    <mat-card-content>
        <!--    <div [className]="showCorrectAnswer && answer.value !== question.valid_answer ? 'incorrect-answer' : ''">-->
        <!--            <mat-form-field>-->
        <!--                <input matInput type="text" placeholder="Type here..." [formControl]="valueForm"/>-->
        <!--            </mat-form-field>-->
        <!--    </div>-->
        <mat-form-field>
            <mat-label>Type here</mat-label>
            <div [className]="displayCorrectAnswer && !isValid() ? 'incorrect-answer' : ''">
                <textarea
                    [readonly]="displayCorrectAnswer"
                    resizeToFitContent
                    rows="10" cols="40"
                    [formControl]="valueForm"
                    matInput>
                </textarea>
            </div>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions *ngIf="displayCorrectAnswer">
        <div>
            Correct answer: {{question.valid_answer}}
        </div>
    </mat-card-actions>

</mat-card>
