mat-card {
  height: auto;
  width: 100vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

@media only screen and (min-width: 800px) {
  mat-card {
    width: 60%;
    height: auto;
  }
}
