:host {
  direction: ltr !important;
}

div {
  overflow: hidden;
}

mat-grid-list {
  line-height: 0;
}

form {
  width: 600px;
  min-width: 300px;
  z-index: 2;
}

form > div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

form > img {
  position: relative;
  max-width: 150px;
  padding-bottom: 20px;
}

.flower {
  position: absolute;
}

img:nth-child(2) {
  right: 0;
  top: 16rem;
  z-index: 1;
}

img:nth-child(3) {
  bottom: 0;
  z-index: 1;
}

mat-form-field {
  background: white !important;
  border-radius: 1.30rem !important;
  margin-bottom: 1.56rem !important;
}

input.mat-input-element {
  text-align: center;
}

/* Font color */
input.mat-input-element, input.mat-input-element::placeholder {
  color: #70504A;
  font-size: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #70504A !important;
}

button {
  float: right;
  margin-top: 2.5rem;
  margin-right: 4.5rem;
  z-index: 99;
}

.browser-disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;

  & > p {
    font-size: smaller;
    line-height: normal;
  }
  
  & > .browser-link {
    margin: 8px;
    text-decoration: none;
    color: #70504a; //Same color as text
  }
}