<mat-card>
<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-group">
        <mat-label for="code">Code</mat-label>
        <input matInput formControlName="code" class="form-control" placeholder="Your username"/>
    </mat-form-field>
    <div class="button-group">
        <button class="login-button" mat-flat-button color="primary" type="submit" [disabled]="authForm.invalid">
            Login
        </button>
    </div>
</form>
</mat-card>