div.light-yellow-bg {
  height: 100vh;
  text-align: center;
}

mat-grid-list {
  line-height: 0;
}

form {
  width: 600px;
  min-width: 300px;
  z-index: 2;
}

form > div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

form > img {
  position: relative;
}

img {
  position: absolute;
}

img:nth-child(2) {
  right: 0;
  top: 16rem;
  z-index: 1;
}

img:nth-child(3) {
  bottom: 0;
  z-index: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #70504A !important;
}
