<div id="container">
    <img src="assets/bee-wabe.png" width="90" alt="">
    <h1 mat-dialog-title>{{ title }}</h1>
    <mat-dialog-content *ngIf="content">
        <div *ngIf="contentAsInnerHTML" [innerHTML]="content"></div>
        <div *ngIf="!contentAsInnerHTML"> {{content}}</div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button cdkfocusinitial [mat-dialog-close]="false">{{ cancelBtnText }}</button>
        <button mat-button mat-stroked-button [color]="confirmBtnColor"
                [mat-dialog-close]="true">{{ confirmBtnText }}</button>
    </mat-dialog-actions>
</div>
