.light-yellow-bg {
  height: auto;
}

img {
  margin-bottom: 1rem;
}

app-primary-btn {
  margin: 1rem;
}

mat-dialog-actions {
  justify-content: center;
}

#container {
  text-align: center;
  padding: 0 2rem 2rem 2rem;

  h1 {
    margin: 5px;
  }

  .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto
  }
}

.audio {
  text-align: right;
  max-width: 15%;
}

