<div id="container">
    <div class="media">
    <img src="{{imageURL}}" width="70" alt="">
    <button  class="audio" *ngIf="audioURL" mat-icon-button [appAudioPlay]="audioURL"> 
        <mat-icon svgIcon="volume_up"></mat-icon>
    </button>
    </div>
    <h1 mat-dialog-title>{{ title }}</h1>
    <mat-dialog-content *ngIf="content">
        <div *ngIf="contentAsInnerHTML" [innerHTML]="content"></div>
        <div *ngIf="!contentAsInnerHTML"> {{content}}</div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button *ngIf="cancelBtn" mat-button cdkfocusinitial [mat-dialog-close]="false">{{ cancelBtnText }}</button>
        <button mat-button mat-stroked-button [color]="confirmBtnColor"
                [mat-dialog-close]="true">{{ confirmBtnText }}</button>
    </mat-dialog-actions>
</div>
