<div [style.pointerEvents]="displayCorrectAnswer.getValue() ? 'none' : ''" class="number-line"
     [dir]="translate.currentLang === 'ara' ? 'rtl' : 'ltr'">
    <span>{{translate.currentLang === 'ara' ? question.end : question.start }}</span>
    <mat-slider
            style="overflow-x: hidden"
            class="number-line-slider"
            [color]="displayCorrectAnswer.getValue() && !!answer && !answer.valid ? 'warn' : 'primary'"
            [max]="question.end"
            [min]="question.start"
            [step]="question.step"
            [thumbLabel]="question.show_value"
            [tickInterval]="question.show_ticks ? question.tick_step : 0"
            [formControl]="valueForm"
            [invert]="translate.currentLang === 'ara'">
    </mat-slider>
    <span>{{ translate.currentLang === 'ara' ? question.start : question.end }}</span>
</div>
<div class="correct-answer" *ngIf="displayCorrectAnswer.getValue()">
    {{ "question.correctAnswer" | translate }} {{question.expected_value}}
</div>
