<div [style.pointerEvents]="displayCorrectAnswer.getValue() ? 'none' : ''" class="number-line my-special-section"
     [dir]="translate.currentLang === 'ara' ? 'rtl' : 'ltr'">
    <span>{{translate.currentLang === 'ara' ? question.end : question.start }}</span>
    <mat-slider
            style="overflow-x: hidden"
            class="number-line-slider"
            [invert]="translate.currentLang === 'ara'"
            [color]="getSliderColor()"
            [max]="question.end"
            [min]="question.start"
            [step]="question.step"
            [thumbLabel]="question.show_value"
            [tickInterval]="question.show_ticks ? question.tick_step : 0"
            [formControl]="displayCorrectAnswer.getValue() ? correctAnswerForm : valueForm"
            >
    </mat-slider>
    <span>{{ translate.currentLang === 'ara' ? question.start : question.end }}</span>
</div>
