.header {
  padding-top: 1rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media (min-width: 1024px) {
    width: 95%;
    height: 10vh;
  }
  & .back-btn {
    min-height: 70%;
    width: auto;
  }
}
.progress-header {
  margin: 0 auto;
  display: inline-flex;
  position: relative;
  align-items: center;
  place-content: flex-end;

  .progress-bar {
    position: relative;
    width: 155px;
    flex-direction: row;
    display: flex;
    height: 36px;
    height: 100%;
    justify-content: center;

    .paths {
      display: flex;
      flex-direction: row;
      min-width: -webkit-fill-available;
      align-self: center;
      place-content: space-evenly;

      .path {
        border: dashed 3px #70504a;
        border-color: #70504a transparent transparent transparent;
        border-radius: 300%/100px 100px 0 0;
        transform: rotateX(180deg);
      }
    }
    .bee {
      position: absolute;
      width: 36px;
    }
    svg {
      overflow: visible;
    }
  }
  .flower {
    z-index: 999;
    height: 80%;
    width: auto;
  }
}
h2 {
  font-weight: 500;
  margin: 0;
}
button {
  width: 60%;
}
.question-attachment {
  display: block;
  margin-right: .5em;
}
.dragdrop-attachment {
  width: 20%;
  margin-right: inherit;
}
.dragdrop-container {
  width: 70% !important;
  @media (max-width: 780px) {
    width: 70% !important;
  }
}
.question-container {
  display: grid;
  overflow: auto;
  margin: auto;
}
.question-container, .question-content {
  width: 100%;
}
.question-title {
  font-size: clamp(1rem, 4.5vw, 3rem);
}
.question {
  position: relative;
  height: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  @media (min-width: 1024px) {
    font-size: 36px;
  }
}
.right-answer-animation {
  width: 45vw;
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
}
.bee-helper {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 7rem;
  cursor: pointer;

  @media (min-width: 1024px) {
    height: 20%;
  }
}