<!--<app-header></app-header>-->
<div class="light-green-bg" *ngIf="question; else questionNotAvailable">
    <div #header class="header">
        <img class="elevated-valid back-btn" (click)="onPrevious()"
            [src]="translate.currentLang === 'ara' ? 'assets/icons/right_arrow_24.svg' :  'assets/icons/left_arrow_24.svg'">
        <div class="progress-header">
            <!--  flyingBee = 35px so the bee stays before the first question path -->
            <div class="progress-bar" #progressBar [style.width]="(progressBarWidth + flyingBee) + 'px'">
                <div class="paths">
                    <svg width="36px" *ngFor="let question of questionSet.questions; let i=index" height="0.35em" [style.fill]="questionIndex > i ? 'none' : 'white'"
                        [ngClass]="{'path': questionIndex > i}" [style.width]="100/questionSet.questions.length + '%'" xmlns="http://www.w3.org/2000/svg">
                        <path  [style.visibility]="'hidden'" stroke-width="2" stroke-dasharray="4 4"
                        d="M0 0C0 2.65216 1.89076 5.1957 5.25632 7.07107C8.62189 8.94643 13.1866 10 17.9462 10C22.7058 10 27.2705 8.94643 30.6361 7.07107C34.0017 5.1957 35.8924 2.65216 35.8924 0"/>
                        <circle id="path-{{i}}" *ngIf="questionIndex <= i" r="4" cy="50%"></circle>
                    </svg>
                </div>
                <img *ngIf="translate.currentLang !== 'ara'" [ngStyle]="{'top': '-' + flyingBee * .3 + 'px', 'left': questionIndex === 0 ? '-' + flyingBee * .5 + 'px' : 'calc(' + (questionIndex * (100/questionSet.questions.length)) + '% - ' + flyingBee * .5 + 'px)', 'width': flyingBee + 'px'}" class="bee" [src]="'/assets/icons/flying-bee-right.svg'">
                <img *ngIf="translate.currentLang === 'ara'" [ngStyle]="{'top': '-' + flyingBee * .3 + 'px', 'left': questionIndex === 0 ? 'calc(' + progressBarWidth + flyingBee * .5 + 'px)' : 'calc(' + ((questionSet.questions.length - questionIndex) * (100/questionSet.questions.length)) + '% - '  + flyingBee * .5 + 'px)', 'width': flyingBee + 'px'}" class="bee" [src]="'/assets/icons/flying-bee.svg'">
            </div>
            <img class="flower" [style.height.px]="flyingBee" src="assets/icons/flowers/pink.svg">
        </div>
    </div>

    <div class="question" [@popOverState]="stateName" [style.height]="'calc(100vh - ' + header.clientHeight * 2 + 'px)'">
        <h2 *ngIf="showTitle" class="question-title">{{ question.title }}</h2>
        <div class="question-attachment">
            <app-attachments [attachments]="question.attachments"></app-attachments>
        </div>

        <div class="question-container">
            <div class="question-content">
                <ng-container *ngIf="question.question_type === 'SEL'">
                    <app-question-sel [question]="question" [(answer)]="answer"
                        (answerChange)="checkAnswer($event)"
                        [displayCorrectAnswer]="displayCorrectAnswer">
                    </app-question-sel>
                </ng-container>

                <ng-container *ngIf="question.question_type === 'INPUT'">
                    <app-question-input [question]="question" [(answer)]="answer"
                        (answerChange)="checkAnswer($event)"
                        [displayCorrectAnswer]="displayCorrectAnswer">
                    </app-question-input>
                </ng-container>
    
                <ng-container *ngIf="question.question_type === 'NUMBER_LINE'">
                    <app-question-number-line [question]="question" [answer]="answer"
                        (answerChange)="checkAnswer($event)" [resetAnswer]="resetAnswer"
                        [displayCorrectAnswer]="displayCorrectAnswer">
                    </app-question-number-line>
                </ng-container>
    
                <ng-container *ngIf="question.question_type === 'SELECT'">
                    <app-question-select [question]="question" [answer]="answer" 
                        (answerChange)="checkAnswer($event)" [resetAnswer]="resetAnswer"
                        [displayCorrectAnswer]="displayCorrectAnswer" [isEvaluated]="isEvaluated">
                    </app-question-select>
                </ng-container>

                <ng-container *ngIf="question.question_type === 'DOMINO'">
                    <app-question-domino [question]="question" [answer]="answer" 
                        (answerChange)="checkAnswer($event)" [resetAnswer]="resetAnswer"
                        [displayCorrectAnswer]="displayCorrectAnswer" [isEvaluated]="isEvaluated">
                    </app-question-domino>
                </ng-container>

                <ng-container *ngIf="question.question_type === 'CALCUL'">
                    <app-question-calcul [question]="question" [answer]="answer" 
                        (answerChange)="checkAnswer($event)" [resetAnswer]="resetAnswer"
                        [displayCorrectAnswer]="displayCorrectAnswer" [isEvaluated]="isEvaluated">
                    </app-question-calcul>
                </ng-container>
    
                <ng-container *ngIf="question.question_type === 'SORT'">
                    <app-question-sort [question]="question" [(answer)]="answer"
                        [displayCorrectAnswer]="displayCorrectAnswer">
                    </app-question-sort>
                </ng-container>
    
                <ng-container *ngIf="question.question_type === 'DRAG_AND_DROP'">
                <app-question-drag-and-drop
                    [assessmentId]="assessment.id"
                    [questionSetId]="questionSet.id"
                    [question]="question"
                    [answer]="answer"
                    (answerChange)="checkAnswer($event)"
                    [resetAnswer]="resetAnswer"
                    [displayCorrectAnswer]="displayCorrectAnswer">
                >
                </app-question-drag-and-drop>
            </ng-container>

            <ng-container *ngIf="question.question_type === 'CUSTOMIZED_DRAG_AND_DROP'">
                <app-question-customized-drag-and-drop
                    [assessmentId]="assessment.id"
                    [questionSetId]="questionSet.id"
                    [question]="question"
                    [answer]="answer"
                    (answerChange)="checkAnswer($event)"
                    [resetAnswer]="resetAnswer"
                    [displayCorrectAnswer]="displayCorrectAnswer">
                </app-question-customized-drag-and-drop>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #questionNotAvailable>
    <div>
        {{ 'questionSets.question.questionNotAvailable' | translate }}
    </div>
</ng-template>

<img 
    *ngIf="showRightAnswerAnimation"
    class="right-answer-animation"
    src="/assets/animations/confeti_light_multicolor.gif"
    alt="right answer animation"
    [style.transform]="'translate('+animationPosition.x+'px,'+animationPosition.y+'px) translateX(-50%) translateY(-50%)'"
>

<img class="bee-helper" src="assets/icons/bee-standing.svg"
    (click)="playStopTitleAudio()" [matTooltip]="isTitleAudioPlaying ?  ('questionSets.question.stopQuestionAudio' | translate) : ('questionSets.question.replayQuestion' | translate)"
>
