<div class="container" (click)="init()" [dir]="direction">
  <div
    class="bee-container"
    [ngClass]="{
      'bee-enter': this.onEnterAnimation,
      'bee-speak': this.onSecondBallon,
      'bee-leave': this.onBeeLeave
    }"
    dir="ltr"
  >
    <app-ballon
      [placement]="'right'"
      [iconXPosition]="-5"
      [ngClass]="{
        opacity: this.onSecondBallon,
        hide: !this.onSecondBallon
      }"
    >
      <p style="padding: 16px; margin: 0 8px" [dir]="direction">
        {{ "intro.secondBallon" | translate }}
      </p>
    </app-ballon>

    <img
      *ngIf="this.onEnterAnimation"
      src="../../assets/intro-bee-path.svg"
      [ngClass]="{
        opacity: this.onEnterAnimation,
        'enter-animation-delay-sm': this.onEnterAnimation
      }"
    />
    <img
      src="../../assets/intro-bee.svg"
      [ngClass]="{
        pathMargin: this.onSecondBallon
      }"
    />

    <app-ballon
      [iconYPosition]="0"
      [iconXPosition]="5"
      [ngClass]="{
        hide: !this.onEnterAnimation,
        'enter-animation-delay-md': this.onEnterAnimation
      }"
    >
      <div style="padding: 24px" [dir]="direction">
        <h1>{{ "general.hi" | translate: { name: userData?.first_name } }}</h1>
        <p>{{ "intro.enterBallon" | translate }}</p>
      </div>
    </app-ballon>
  </div>
</div>
