.options-container {
  overflow: auto;
  width: 100%;
  gap: 12px;

  &.grid {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    // TODO verify if we need a media query
  }

  &.vertical {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
  }

  &.horizontal {
    display: flex;
    flex-wrap: nowrap;
  }

  .option {
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;

    mat-checkbox {
      cursor: pointer;

      span {
        color: black;
      }
    }

    mat-card img {
      cursor: pointer;
      height: 160px;
    }

    &:not(.-card) {
      background-color: white;
    }

    &.invalid {
      background-color: #F2836B;
    }

    &.valid {
      background-color: #7EBF9A;
    }
  }
}
