.options-container {
  overflow: auto;
  width: 100%;
  gap: 12px;

  &.grid {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 780px) {
      grid-template-columns: 1fr;
    }
  }

  &.vertical {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
  }

  &.horizontal {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .option {
    padding: 0.5rem;
    border-radius: 1.25rem;
    margin: 0.5rem;

    @media (max-width: 780px) {
      padding: 0rem;
    }

    mat-card {

      @media (max-width: 780px) {
        font-size: 24px;
      }

      .image-attachment {
        img {
          height: 120px;
          width: auto;

          @media (max-width: 780px) {
            height: 50px;
          }
        }
    
      }
    }

    mat-checkbox {
      cursor: pointer;
    }

    mat-radio-label-content {
      padding-left: 8px;
    }

    mat-card-content {
      margin-bottom: 0px;
    }

    mat-card-actions{
      padding-top: 0px;
    }

    mat-card img {
      cursor: pointer;
    }

    &:not(.-card) {
      background-color: white;
    }

    &.invalid {
      background-color: #F2836B;
    }

    &.valid {
      background-color: #7EBF9A;
    }
  }
}
