section {
  text-align: center;
}

mat-card {
  margin: 0.5rem;
  cursor: pointer;
}

img {
  height: 160px;
}

.card-container {
  display: inline-grid;
  margin: 0.5rem;
}

.no-attachment {
  display: flex;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

mat-checkbox {
  span {
    color: black;
  }
}
