<mat-radio-group class="select-content" [formControl]="valueForm" *ngIf="!question.multiple">
    <ng-container *ngFor="let option of question.options">
        <div [style.background]="setAnswerBackground(option)"
             [ngClass]="[option.attachments.length ? 'select-radio-options-attachments' : 'select-radio-options']">
            <mat-radio-button [disabled]="displayCorrectAnswer.getValue()" [value]="option">
                {{ option.value }}
            </mat-radio-button>
            <div class="attachments-style">
                <app-attachments [attachments]="option.attachments"></app-attachments>
            </div>
        </div>
    </ng-container>
</mat-radio-group>

<section [formGroup]="multipleSelectForm" *ngIf="question.multiple" class="select-content">
    <ng-container formArrayName="selectedOptions" *ngFor="let option of question.options; let i = index">
        <div [style.background]="setAnswerBackground(option)"
             [ngClass]="[option.attachments.length ? 'select-checkbox-options-attachment' : 'select-checkbox-options']"
             [formGroupName]="i">
            <mat-checkbox [disabled]="displayCorrectAnswer.getValue()" formControlName="selected">
                {{ option.value }}
            </mat-checkbox>
            <app-attachments [attachments]="option.attachments"></app-attachments>
        </div>
    </ng-container>
</section>
