<div *ngIf="currentState"
  [class]="'container ' + currentState?.action + ' ' + currentState?.orientation"
  [ngClass]="{
    'translate-left': currentState?.orientation === 'right',
    'translate-right': currentState?.orientation === 'left'
  }"
  (animationend)="onAnimationEnd()"
>
  <div class="bee-container">
    <img *ngIf="currentState?.action === 'bee-move' && currentState?.orientation === 'right'"
      id="beetrail"
      src="assets/bee-trail-loop.svg"
      style="transform: rotate(2.97deg) translateX(-100%);"
    >
    <img id="flyingbee"
      src="assets/animations/flying-bee.gif"
      alt="bee-sunglasses"
      [class]="currentState?.orientation"
    >
    <img *ngIf="currentState?.action === 'bee-move' && currentState?.orientation === 'left'"
      id="beetrail"
      src="assets/bee-trail-loop.svg"
      style="transform: rotate(-2.97deg) scaleX(-1) translateX(100%);"
    >
  </div>
</div>

<app-ballon
  *ngIf="currentState?.action === 'bee-praise'"
  [placement]="currentState?.orientation === 'right' ? 'left' : 'right'"
  [iconXPosition]="currentState?.orientation === 'right' ? 5 : -5"
  [class]="currentState?.orientation === 'right' ? 'right-side' : 'left-side'"
>
  <div style="padding: 24px 72px;">
    <h2 style="white-space: nowrap;">
      {{ 'topics.completedTopic.praise.1' | translate }}
    </h2>
    <span *ngIf="currentState?.honeypots" style="display: flex;">
      {{ 'topics.completedTopic.gainedPoints' | translate }}
      <img src="assets/icons/honeypot.svg" />
      <h2>+{{ currentState.honeypots }}</h2>
    </span>
  </div>
</app-ballon>
