:host {
  --bee-height: 100px;
}
.container {
  position: absolute;
  z-index: 3;
  height: var(--bee-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .bee-container {
    position: static;
    height: 100%;

    #flyingbee {
      height: 100%;
      width: auto;

      &.right {
        transform: rotate(-3deg) scaleX(-1);
      }
      &.left {
        transform: rotate(3deg);
      }
    }
    #beetrail {
      position: absolute;
      top: 50%;
      height: 30%;
      transform: rotate(2.97deg) translateX(-100%);
    }
  }
}
.bee-stay {
  top: var(--y);
  left: var(--x);
  transform: translateY(-50%);
}
.bee-praise {
  animation-duration: 10s, 10s;

  @keyframes bee-praise {
    0% {
      height: 0;
      width: 0;
    }
    25% {
      height: 30%;
    }
    75% {
      height: 30%;
    }
    100% {
      height: var(--bee-height);
      width: auto;
    }
  }
  &.translate-left {
    animation-name: translate-left, bee-praise;

    @keyframes translate-left {
      0% {
        top: var(--previous-y);
        left: var(--previous-x);
      }
      25% {
        top: 35%;
        left: 20%;
      }
      75% {
        top: 35%;
        left: 20%;
      }
      100% {
        top: var(--y);
        left: var(--x);
      }
    }
  }
  &.translate-right {
    animation-name: translate-right, bee-praise;

    @keyframes translate-right {
      0% {
        top: var(--previous-y);
        left: var(--previous-x);
      }
      25% {
        top: 35%;
        left: 70%;
      }
      75% {
        top: 35%;
        left: 70%;
      }
      100% {
        top: var(--y);
        left: var(--x);
      }
    }
  }
}
.bee-move {
  animation-duration: 6s;
  animation-name: bee-move;
  animation-fill-mode: forwards;

  @keyframes bee-move {
    from {
      top: var(--previous-y);
      left: var(--previous-x);
      transform: translateY(-50%);
    }
    to {
      top: var(--y);
      left: var(--x);
      transform: translateY(-50%);
    }
  }
}
app-ballon {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  font-size: clamp(1rem, 4.5vw, 2rem);
  opacity: 0;
  animation-name: fade-in-out;
  animation-duration: 10s;

  &.right-side { right: 10%; }
  &.left-side { left: 10%; }

  @keyframes fade-in-out {
    25% { opacity: 0; }
    40% { opacity: 1; }
    60% { opacity: 1; }
    90% { opacity: 0; }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 2em;
      margin: 0 1em;
    }
  }
}