
<h1 mat-dialog-title class="header">{{data.valid ? "CORRECT" : "INCORRECT"}}</h1>
<mat-divider class="divider-line"></mat-divider>
<mat-dialog-content>
  <div *ngIf="data.solution.question_type!=='SORT'">
   <div class="answer-title">Your answer:
    <span *ngFor="let a of answer"> 
    <span [ngClass]="{
    'correct-answer': a.valid,
    'incorrect-answer': !a.valid}">{{a.value}}</span>
    </span>
   </div>
  
   <div *ngIf="!data.valid">
    <div class="answer-title correct-answer-block">Correct answer:
    <span class="correct-answer" [innerHTML]="solution"></span>
    </div>
   </div>
  </div>  

<div *ngIf="data.solution.question_type==='SORT'">
  <div class="answer-title">Your answer:</div>
  <div>{{answer.name_A}}
  <span *ngFor="let a of answer.data_A" [ngClass]="{
    'correct-answer': a.valid,
    'incorrect-answer': !a.valid}">{{a.value}}</span>
  </div>
  <div>{{answer.name_B}}
  <span *ngFor="let a of answer.data_B" [ngClass]="{
    'correct-answer': a.valid,
    'incorrect-answer': !a.valid}">{{a.value}}</span>
  </div>

  <div *ngIf="!data.valid">
    <div class="answer-title correct-answer-block">Correct answer:</div>
    <div>{{solution[0].name_A}}
      <span *ngFor="let a of solution[0].data_A" class="correct-answer">
      {{a}}</span>
    </div>
    <div>{{solution[1].name_B}}
      <span *ngFor="let a of solution[1].data_B" class="correct-answer">
      {{a}}</span>
    </div>
</div>
</div>

  
</mat-dialog-content>
<mat-divider class="divider-line"></mat-divider>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Continue</button>
</mat-dialog-actions>
