
.header {
    font-weight: bold;
    background-color: #00A28B;
    margin: 0px;
    padding: 10px;
    text-align: center;

    .bee-header {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin: 0px;

    .bee-character {
        max-height: 30px;
        padding: 0px;
        margin: 0px;
    }

    .p {
        padding: 0px;
        margin: 0px;
    }
}
}

  
