.audio-attachment {
    button {
        margin-left: 90%;
    }
}

.img-attachment {
    height: 20vh;
    img {
        height: 100%;
        width: auto;
        display:block;
        margin:auto;
    }
}