<div class="question-sort" cdkDropListGroup>
    <div cdkDropList class="drop-container" [cdkDropListData]="optionsCopy" cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div class="drop-option" *ngFor="let option of optionsCopy" cdkDrag>
            {{ option.value }}
            <app-attachments [attachments]="option.attachments"></app-attachments>
        </div>
    </div>


    <p>{{ question.category_A }}</p>
    <div cdkDropList class="drop-container" [cdkDropListData]="selectedCategoryA" cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div class="drop-option" *ngFor="let option of selectedCategoryA" cdkDrag>
            {{ option.value }}
            <app-attachments [attachments]="option.attachments"></app-attachments>
        </div>
    </div>

    
    <p>{{ question.category_B }}</p>
    <div cdkDropList class="drop-container" [cdkDropListData]="selectedCategoryB" cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div class="drop-option" *ngFor="let option of selectedCategoryB" cdkDrag>
            {{ option.value }}
            <app-attachments [attachments]="option.attachments"></app-attachments>
        </div>
    </div>
</div>


