<div class="light-yellow-bg">

    <div class="topic-completed-page">
        <div class="completed-banner">
            <img src="assets/icons/flying-bee.svg" width="120px">
            <div class="points-container">
                <h5>{{ 'gainedPoints' | translate }}</h5>
                <div class="points-display">
                    <div class="effort">
                        <h2>{{this.effort}}</h2>
                        <img src="assets/icons/honeypot.svg">
                    </div>
                    <div class="competency" *ngIf="topic.evaluated">
                        <h2>{{this.competency}}</h2>
                        <img src="assets/icons/star.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div (click)="goToTopicPage()"><img [src]="translate.currentLang === 'ara' ?
                    'assets/icons/right_arrow_24.svg' : 'assets/icons/left_arrow_24.svg'"></div>
            <div (click)="goToHomePage()"><img src="assets/icons/home.svg"></div>
        </div>
    </div>
</div>
