<div class="light-yellow-bg">

    <div class="topic-completed-page">
        <div class="completed-banner">
            <img src="assets/icons/flying-bee.svg" width="120px">
            <p>{{ 'topicCompleted' | translate }}</p>
            <div class="points-container">
                <h5>{{ 'gainedPoints' | translate }}</h5>
                <div class="points-display">
                    <div class="effort">
                        <img src="assets/icons/honeypot.svg">
                        <h2>{{this.effort}}</h2>
                    </div>
                    <div class="competency" *ngIf="topic.evaluated">
                        <img src="assets/icons/star.svg">
                        <h2>{{this.competency}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button mat-flat-button class="next-button" color="primary"
                    (click)="goToTopicPage()">{{ 'backToTopics' | translate }}<img width="24" height="24" src="assets/icons/cross_32.svg"></button>
            <button mat-flat-button class="home-button" color="primary"
                    (click)="goToHomePage()">{{ 'home' | translate }}<img [src]="translate.currentLang === 'ara' ?
                    'assets/icons/right_arrow_24.svg' : 'assets/icons/left_arrow_24.svg'"></button>
        </div>
    </div>
</div>
