.assessment-btn {
  height: 80px;
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 9.25rem;
  margin-bottom: 20px;

  @media (max-width: 780px) {
    width: 98%;
  }

  img {
    height:60px;
    width: 60px;
  }

  figure {
    margin: 0;
  }

  .complete-topics {
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      position: absolute;
      font-size: 25px;
    }
  }
}

.locked {
  background-color: #9e9e9e;
  opacity: 0.4;
  cursor: not-allowed;
}

h1 {
  font-size: 2.87rem;
  font-weight: normal;
  margin: 0;
  line-height: 1.5;
}

button h1 {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assessments {
  display: flex;
  flex-direction: column;
  align-items: center;
}