.intro-bee {
  position: fixed;
  left: 0;
  bottom: 0;
}

.assessment-btn {
  cursor: pointer;
}

.complete-topics {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 0 0 -1.5em 9.5em;
  position: absolute;
  cursor: pointer;
}

.assessments {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

  &.math {
    margin-left: -0.5em;
  }

  &.reading {
    margin-right: -0.5em;
  }

  // making label text unselectable
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  width: 25px;
  height: 25px;
  margin: 0 0 -9em 13.5em;
  position: absolute;
}

.branch-enter {
  animation-duration: 5s;
  animation-fill-mode: forwards;

  &.math {
    animation-name: slidein-left-branch;
  }

  &.reading {
    animation-name: slidein-right-branch;
  }

  @keyframes slidein-left-branch {
    from {
      transform: translateX(-60%);
    }

    to {
      transform: translateX(0.1%);
    }
  }

  @keyframes slidein-right-branch {
    from {
      transform: translateX(60%);
    }

    to {
      transform: translateX(0.1%);
    }
  }
}