.assessment-btn {
  height: 80px;
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 9.25rem;
  margin-bottom: 20px;

  img {
    float: left;
    margin-left: -0.5rem;
    margin-top: 0.15rem;
    padding-right: 0.5rem;
    border-radius: 5rem;
  }
}

h1 {
  font-size: 2.87rem;
  font-weight: normal;
  margin: 0;
  line-height: 1.5;
}

button h1 {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



