<app-spinner *ngIf="displaySpinner"></app-spinner>
<div dir="ltr" *ngIf="assessments?.length && !displaySpinner" class="assessments">
    <ng-container *ngFor="let assessment of assessments">
        <button *ngIf="!assessment.locked" mat-button class="assessment-btn"
            [routerLink]="['../assessments', assessment.subject.toLowerCase(), assessment.id]">
            <div class="button-content">
                <img src="{{ getAssessmentIcon(assessment) }}">
                <h1> {{assessment.title}} </h1>
                <figure class="complete-topics">
                    <img src="assets/icons/check_24_low.svg">
                    <figcaption class="text">{{assessment.complete_topics}} / {{assessment.topics.length}}</figcaption>
                </figure>
            </div>
        </button>
        <button *ngIf="assessment.locked" mat-button class="assessment-btn locked">
            <div class="button-content">
                <img src="{{ getAssessmentIcon(assessment) }}">
                <h1> {{assessment.title}} </h1>
                <figure class="complete-topics">
                    <img src="assets/icons/check_24_low.svg">
                    <figcaption class="text">{{ assessment.complete_topics }} / {{ assessment.topics.length }}</figcaption>
                </figure>
            </div>
        </button>
    </ng-container>
</div>

<ng-container *ngIf="assessments && assessments.length === 0 && !displaySpinner">
    <p>{{ "assessments.noAssessments" | translate }}</p>
</ng-container>