button {
  border-radius: 6.25rem;
  padding: 0.5rem;
  font-size: 35px;

  img {
    position: absolute;
    width: 35px;
    height: 35px;
  }
}

.pull-left {
  left: 1rem;
}

.pull-right {
  right: 1rem;
}
