<div>

    <div mat-icon-button class="back-banner" [routerLink]="['../../home']">
      <mat-icon svgIcon="arrow_back"></mat-icon> Back to assessments
    </div>
    
    <ul class="topic-cards-list" *ngIf="topics && topics.length; else noTopics">
        <li class="topic-card" *ngFor="let topic of topics">
            <a [routerLink]="['./topics', topic.id]">{{topic.name}}</a>
            <div>
            <div *ngFor="let comp of topic.competency">
                <mat-icon *ngIf="comp" svgIcon="competency_star"></mat-icon>
                <mat-icon *ngIf="!comp" svgIcon="competency_star_outline"></mat-icon>
            </div>
            </div>
        </li>
    </ul>

    <ng-template #noTopics>
        <p>{{ 'No topics' | translate }}</p>
    </ng-template>

</div>