<div [ngClass]="{ container: assessments && assessments.length}">
  <app-back-navigation
    [text]="
      'topics.backTo' | translate: { page: 'topics.assessments' | translate }
    "
    [routerLink]="['../../home']"
  >
  </app-back-navigation>

  <div *ngIf="assessments && assessments.length; else noTopics">
    <swiper [config]="config">
      <div class="swiper-wrapper" >
        <div class="swiper-slide" *ngFor="let assessment of assessments">
          <div class="flowers">
            <app-flower 
              *ngFor="let topic of assessment.topics; let i = index"
              [index]="i"
              [topic]="assessment.topics[i]"
              [flowerColor]="flowersColors[i]"
            ></app-flower>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </swiper>
  </div>

  <ng-template #noTopics>
    <p>{{ "topics.noTopics" | translate }}</p>
  </ng-template>
</div>
