.container {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
}

.flowers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dots-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 20%;
  margin: auto;

  .dots {
    background: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.swiper-pagination {
  position: inherit;
}