.topic-cards-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 30px;

    .topic-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        background-color: #EBEBEB;
        margin: 10px;
        border-radius: 5px;
        padding: 10px;
        width: 85vw;
        max-width: 500px;

        a {
        color:black;
        text-decoration: none;
        }

        div {
            display: flex;
            justify-content: right;

            mat-icon {
               color:#f9c74f;
            }
        }
    }
}


.back-banner {
    border: 0px;
    padding: 10px;
    margin: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(210, 235, 248, 0.897);
}
