.question-set-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .question-set-name {
    font-size: 1.5rem;
  }
}

app-action-btn {
  width: 60%;
  margin-top: 3rem;
}

app-attachments {
  margin: 2rem;
}
