.progress_bar {
  background: #FFF9C4;
  display: flex;
  padding: 1rem;
  justify-content: space-between;

  img {
    margin: 0 0.5rem;
    width: 35px;
  }
}

h2 {
  font-weight: 500;
  margin: 10px 0px 0px 0px;
}

button {
  width: 60%;
}

mat-progress-bar {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  height: 15px;
  border-radius: 0.5rem;
}


.icons {
  display: flex;
  text-align: left;
  height: inherit;

  img{
    max-height: 60px;
  }
}

.question-attachment {
  display: block;
  margin: auto;
}

.question-content {
  width: 90%;
  margin: 0rem 2rem;

  @media (max-width: 780px) {
    margin: auto;
  }
}


.question-container {
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100%;

  .question-header {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .questions-progress {
      display: flex;
      align-items: baseline;

      .mat-progress-bar {
        height: 15px;
        border-radius: 8px;
        align-self: baseline;
      }

      button {
        mat-icon {
          margin-bottom: 7px;
        }
      }
    }


    h2 {
      text-align: center;
      margin: 5px;
    }

    .question-attachment {
      display: block;
      margin: auto;
    }
  }

  .question-content {
    width: 90%;
    margin-left: 5%;
  }

}

.question-title {
  @media (max-width: 780px) {
    font-size: 38px !important;
  }
}

