.header {
  justify-items: center;
  display: inline-grid;
  padding: 1rem;
  justify-content: space-between;
  grid-template-columns: 1fr 20fr;
  align-items: center;

  img {
    margin: 0 0.5rem;
    width: 35px;
  }
}

.progress-header {
  display: inline-flex;
  position: relative;
  align-items: center;
  place-content: flex-end;

  .progress-bar {
    position: relative;

    .path {
      position: relative;
      border: 3px dashed #70504a;
      border-radius: 0 0 50% 50%/60px;
    }
    .bee {
      position: absolute;
      margin: 0 0 2em;
    }
  }
}

h2 {
  font-weight: 500;
  margin: 10px 0px 0px 0px;
}

button {
  width: 60%;
}

mat-progress-bar{
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  height: 15px;
  border-radius: 0.5rem;
  min-height: 3rem;
}


.icons {
  position: absolute;
  display: flex;
  text-align: left;
  height: inherit;

  img{
    max-height: 60px;
    margin: auto;
  }
}

.question-attachment {
  display: block;
  margin: auto;
}

.question-container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  overflow: auto;

  @media (max-width: 780px) {
    width: 100%;
  }
}

.question-title {
  @media (max-width: 780px) {
    font-size: 38px !important;
  }
}

.question {
  padding-bottom: 50px;
}

.question-buttons {
  margin: 50px 0px;
}

.question-popup {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
  max-height: 100%;

  img {
    position: relative;
    max-width: 150px;
    align-self: end;
  }

  .buttons {
    margin-top: 1em;
  }
}