<div class="question-container" *ngIf="question; questionNotAvailable">
    <div class="question-header">
        <div class="questions-progress">
            <button mat-icon-button [routerLink]="['../../../../']">
                <mat-icon svgIcon="cancel"></mat-icon>
            </button>
            <mat-progress-bar mode="determinate" [value]="questionIndex / topic.questions.length * 100"></mat-progress-bar>
        </div>
        <h2>{{ question.title }}</h2>
        <div class="question-attachment">
            <app-attachments [attachments]="question.attachments"></app-attachments>
        </div>
    </div>

    <div class="question-content">
        <app-question-input *ngIf="question.question_type === 'INPUT'" [question]="question" [(answer)]="answer"></app-question-input>
    
        <app-question-number-line *ngIf="question.question_type === 'NUMBER_LINE'" [question]="question" [(answer)]="answer"></app-question-number-line>
    
        <app-question-select *ngIf="question.question_type === 'SELECT'" [question]="question" [(answer)]="answer"></app-question-select>
    
        <app-question-sort *ngIf="question.question_type === 'SORT'" [question]="question" [(answer)]="answer"></app-question-sort>

    </div>

    <button [disabled]="!topic.allow_skip && !answer" class="submit-button" mat-flat-button color="primary" (click)="submitAnswer()">{{ (!this.answer && this.topic.allow_skip)? ('skip' | translate) : ('submit' | translate) }}</button>
</div>
<div #questionNotAvailable>
    This question is not available
</div>