.question-container {
    background-color: whitesmoke;
    min-height: 100vh;
    width: 100%;

    .question-header {
        background-color: white;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        .questions-progress {
            display: flex;
            align-items: baseline;

            .mat-progress-bar {
                height: 15px;
                border-radius: 8px;
                align-self: baseline;
            }

            button {
                mat-icon {
                    margin-bottom: 7px;
                }
            }
        }

        
        h2 {
            text-align: center;
            margin: 5px;
        }

        .question-attachment {
            display: block;
            margin: auto;
        }
    }

    .question-content {
        width: 90%;
        margin-left: 5%;
    }

    .submit-button {
        margin: 20px auto;
        width: 96%;
        display: block;
    }

}

::ng-deep .mat-progress-bar-fill::after {
    background-color:#7EBF9A;
}
