::ng-deep .mat-dialog-custom-class {
    mat-dialog-container {
        max-width: max-content;
        min-width: 40rem !important;
        height: auto;
        margin: 1em;
        overflow: hidden;
    }
}