<div
  class="ballon"
  [ngStyle]="{
    'flex-direction': this.placement === 'left' ? 'row' : 'row-reverse'
  }"
>
  <svg
    [ngStyle]="{
      transform:
        'translateX(' +
        this.iconXPosition +
        'px) ' +
        'translateY(' +
        this.iconYPosition +
        'px) ' +
        'scaleX(' +
        (this.placement === 'left' ? 1 : -1) +
        ')'
    }"
    viewBox="0 0 43 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M43.0016 40C40.979 29 5.07754 31 0.0209961 27C18.5 17 41.0001 27 43.0016 0V40Z"
      fill="#E9FFDB"
      translate="yes"
    />
  </svg>

  <div class="ballon-body">
    <ng-content></ng-content>
  </div>
</div>
