// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

@font-face {
  font-family: "Cairo";
  src: url("/assets/fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$assessment-tool-typography: mat-typography-config(
        $font-family: "Cairo",
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($assessment-tool-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$assessment-tool-primary: mat-palette($mat-blue-gray);
$assessment-tool-accent: mat-palette($mat-gray);

// The warn palette is optional (defaults to red).
$assessment-tool-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$assessment-tool-theme: mat-light-theme(
                (
                        color: (
                                primary: $assessment-tool-primary,
                                accent: $assessment-tool-accent,
                                warn: $assessment-tool-warn,
                        ),
                )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($assessment-tool-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: rgb(213, 232, 238);
  width: 100%;
  margin: 0px;
  padding-top: 0px;
}

.question-container {
  .correct-answer {
    color: white;
    padding: 0 15px;
    border-radius: 1rem;
    background-color: #7EBF9A;
  }
  
  .incorrect-answer {
    color: white;
    padding: 1rem 0 0 0.5rem;
    border-radius: 1rem;
    background-color: #F2836B;
  }
}

@media only screen and (min-width: 800px) {
  body {
    margin: 0;
    padding-top: 40px;
    width: auto;
  }
}
