mat-card {
  width: 100vw;
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;

  .logout {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

@media only screen and (min-width: 800px) {
  mat-card {
    width: 60%;
    height: auto;
  }
}
