<div [style]="cssVars" class="number-line my-special-section"
     [dir]="translate.currentLang === 'ara' ? 'rtl' : 'ltr'"
     cdkDropListGroup>
    <div class="answer-container">
        <div class="ruler inline-grid">
            <div class="line horizontal"></div>
            <div *ngFor="let _ of dropListData" class="line tick"></div>
        </div>
        <div class="numbers-container inline-grid">
            <div *ngFor="let val of dropListData; let i = index">
                <div *ngIf="!val && val !== 0; else numberTemplate"
                    class="drop-area"
                    [class.drop-area]="!valueForm.value"
                    [class.option]="valueForm.value"
                    [style]="'color: ' + getNumberColor(valueForm.value)"
                    cdkDropList
                    [cdkDropListData]="answerDropListData"
                    (cdkDropListDropped)="registerDrop(
                        $event.previousContainer.data,
                        $event.previousIndex
                    )"
                >
                    {{ valueForm.value }}
                </div>
                <ng-template #numberTemplate>
                    <p [style]="'color: ' + getNumberColor(val)">
                        {{ val }}
                    </p>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="options-container"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="draggableOptions"
        [cdkDropListDisabled]="!!valueForm.value"
    >
        <div *ngFor="let option of draggableOptions"
            class="option"
            [class.cursor-move]="!valueForm.value"
            [style]="'color: ' + getNumberColor(option)"
            cdkDrag
            (cdkDragEnded)="dropPosition = $event.dropPoint"
            [cdkDragData]="option"
            [matchSize]="true"
            (cdkDropListDropped)="moveItemInArray(
                $event.previousContainer.data,
                $event.previousIndex,
                $event.currentIndex
            )"
        >
            {{ option }}
        </div>
    </div>
</div>
