<div class="light-yellow-bg">
    <app-header headerConfig="profile"></app-header>
    <h2>{{ 'profile.shop' | translate }}</h2>
    <div class="avatars">
        <div *ngFor="let avatar of avatars">
            <img class="avatar" src="{{ getAvatarUrl(avatar) }}"/>
            <button (click)="avatar.unlocked && !avatar.selected ? selectAvatar(avatar) : unlockAvatar(avatar)"
                    [disabled]="!avatar.unlocked && avatar.effort_cost > user.profile.effort" mat-flat-button
                    color="primary">
                <img class="honeypot-icon" *ngIf="!avatar.unlocked && !avatar.selected"
                     src="assets/icons/honeypot.svg">
                <span *ngIf="!avatar.unlocked">{{avatar.effort_cost}}</span>
                <span *ngIf="avatar.unlocked && avatar.selected">{{'profile.selected' | translate}}</span>
                <span *ngIf="avatar.unlocked && !avatar.selected">{{'profile.unlocked' | translate}}</span>
            </button>
        </div>
    </div>
</div>
<button mat-button mat-flat-button color="primary" class="rewatch" (click)="rewatchTutorial()"><img src="assets/icons/GobeeTutorialReWatchButton.png"></button>

