mat-card {
  display: block;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 100vw;
}

@media only screen and (min-width: 800px) {
  mat-card {
    height: auto;
    width: 60%;
  }
}

.profile {
  box-sizing: border-box;
  padding: 0 24px;

  .title {
    color: grey;
    font-size: 14px;
  }

  &__header {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #c0c0c0;
    display: flex;
  }

  &__student-points {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .competency,
    .effort {
      width: 46%;

      .points-container {
        align-items: center;
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        display: flex;
        justify-content: center;

        mat-icon {
          color: #f9c74f;
          margin-right: 6px;
        }
      }
    }
  }

  &__avatars-shop {
    .avatars-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: -10px -10px;

      .avatar {
        margin: 10px 10px;
        text-align: center;
        width: 26%;

        @media only screen and (min-width: 600px) {
          width: 20%;
        }

        &__image {
          width: 12vh;
        }

        &__button {
          align-items: center;
          display: flex;
          font-weight: bold;
          justify-content: center;
          margin: 0 auto;

          &.-selected {
            background-color: #00a28b;
            color: white;
          }

          &.-locked {
            mat-icon {
              color: #f9c74f;
              margin-right: 6px;
            }
          }

          transition: all 100ms linear;
          &:hover {
            transform: scale(120%);
          }
        }
      }
    }
  }
}
