h2 {
  font-weight: normal;
  margin-bottom: 4rem;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;

  div {
    display: grid;
  }
}

.avatar {
  margin: 0 2rem;
}

button {
  border-radius: 6.25rem;
  padding: 0.6rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

span {
  font-size: 24px;
}

.rewatch{
  border-radius: 2.25rem;
  padding: 0.6rem;
  margin-top: 2rem;
  font-size: 24px;
}